<div class="header">
  <div class="layer">
    <h1 class="title">Blog App</h1>
  </div>
</div>
<div class="login-container user-log-container">
  <form class="login-form user-log-form" onsubmit="loginUser(); return false">
    <div class="user-form-row-one">
        <label class="user-log-label" for="email">Email</label>
        <input class="user-log-input" type="email" name="email" required>
    </div>
    <div class="user-form-row-two">
        <label class="user-log-label" for="Password">Password</label>
        <input class="user-log-input" type="password" name="password" required>
    </div>
    <input class="user-form-row-three user-log-btn" type="submit">
  </form>
  <p class="create-account">Don't have an account? <a routerLink='/register'>Click Here</a></p>
</div>
