/* You can add global styles to this file, and also import other style files */

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* flash messages */
.alert {
  border-radius: 10px;
}

.alert p {
  margin:0;
  padding:10px;
  font-size: 20px;
}

.alert-error {
  background-color: #ff8080;
}

.alert-success {
  background-color: #bbff99;
}

/* Login and Register Forms -- Universal Styles */

.log-reg-container {
  height: calc(100vh - 50px);
  width: 100%;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

.fm-log-reg {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
}

.log-reg-form {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.form-group {
  height: 70px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.form-group__label {
  grid-row: 1/2;
  align-self: center;
  font-size: 20px;
}

.form-group__input {
  grid-row: 2/3;
  border-radius: 5px;
  border: none;
  min-width: 280px;
  font-size: 16px;
  padding: 0 10px 0 10px;
}

.submit-btn {
  height: 30px;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
  background: linear-gradient(to bottom, #fff, #999);
  font-size:  20px;
}
