<div class="register-container user-log-container">
  <form class="register-form user-log-form" onsubmit="registerUser(); return false">
    <div class="user-form-row-one">
      <label class="user-log-label" for="username">Username</label>
      <input class="user-log-input" type="text" name="username">
    </div>
    <div class="user-form-row-two">
      <label class="user-log-label" for="email">Email</label>
      <input class="user-log-input" type="email" name="email">
    </div>
    <div class="user-form-row-three">
      <label class="user-log-label" for="password">Password</label>
      <input class="user-log-input" type="password" name="password">
    </div>
    <input class="user-form-row-four user-log-btn" type="submit">
  </form>
</div>
